/*###################################################################################
#################   Extra small devices (phones, less than 768px)  ################## ####################################################################################*/
/* No media query since this is the default in Bootstrap */

/* ###################  Partie générale  ################### */

body{
  background-color: white;
}

header{
  margin-top: 10px;
}

footer{
  font-family: 'Lato', sans-serif;
  border-top: 2px solid #a44d26;
  padding-top: 20px;
  margin-top: 100px;
  height: 120px;
  background-color: #e44d26;
  text-align: center;
  color: white;
  font-size: 1.5em;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.25);
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
}

/* ###################  Logo HTML5  ################### */

#logo_html5{      /* Pour centrer le logo en col-xs et col-sm*/
  margin: auto;
}

/* ###################  Navigation  ################### */

.glyphicon-menu-hamburger{     /* Menu actif seulement pour smartphone */
  text-align: center;
  padding: 0;
  margin-top: 25px;
  font-size: 2.5em;
}



/* ###################  Titres  ################### */

h1{
  background-color: #e44d26;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 1.65em;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  padding-top: 3px;
}

h2{
  color: white;
  font-weight: bold;
  background-color: #f16529;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ###################  Style des pages description  ################### */

div div div ul{
    border: 1px solid black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    list-style-type: none;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.060);
  }

/* ###################  Liens  ################### */

a{
  color: grey;
  font-size: 1.1em;
}

a:focus{       /* Pour enlever les pointillés lors du clic */
outline:0;
}

footer a{
  color: black;
}

/* ###################  Balises code  ################### */

code{
  color: #e44d26;
}

div div div code{
  font-size: 2em;
}

div div div ul code{                /* code contenu dans les descriptions */
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  margin-left: 40px;
  box-shadow: inset 0 6px 8px rgba(0, 0, 0, 0.30);   /* Pour donner l'effet du trou dans la feuille */
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

/* ###################  Glyphicon  ################### */

.glyphicon-copyright-mark{      /* Copyright dans le footer */
  color:black;
  font-size: 0.5em;
}

#glyphicon{           /* flèche retour haut de page */
  font-size: 1.5em;
  color: black;
  right: 15px;
  bottom: 15px;
  position: fixed;
}








/*###################################################################################
####################   Small devices (tablets, 768px and up)   ###################### ####################################################################################*/

@media (min-width:768px) {

footer{
    padding-top: 40px;   /* modification positionnement */
  }

h1{
  font-size: 2.5em;     /* modification taille police H1 */
}

.nav-pills{     /* propriétés du menu */
    margin-top: 40px;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  nav ul ul code{
    background-color: rgba(250, 250, 250, 0);     /* pour rendre transparent le fond des balises codes */
  }

  nav li, nav code{
    font-weight: bold;  /* mettre en gras le texte dans la navigation */
  }

  nav code{
    font-size: 0.9em;   /* ajuster la taille de la police dans le menu déroulant */
  }

}





/*###################################################################################
###################   Medium devices (desktops, 992px and up)   ##################### ####################################################################################*/

@media (min-width:992px) {

  h1{   /* modifications du h1 */
    font-size: 3em;
    margin-top: 50px;
  }

.glyphicon-triangle-top{   /* ajuster la taille du retour haut de page */
  font-size: 1.5em;
}

nav li{
  text-align: center;    /* aligner le texte dans menu déroulant */
}

footer{
  padding-top: 40px;   /* ajuster le positionnement du footer */
}

}




/*###################################################################################
###################   Larges devices (desktops, 1200px and up)   #################### ####################################################################################*/

@media screen and (min-width:1200px) {

  h1{
    font-size: 3.5em;   /* ajuster la taille du h1 */
  }

}
